/*
* External Style Sheet. Any HTML file can reference these CSS stylings
* Lab 4: Album Page
*/


body{
    background-color: green; 
    color: #000000;
}

#siteContainer {
    background: forestgreen; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, orange, yellow, green); /* Safari */
    background: -o-radial-gradient(circle, orange, yellow, green); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, orange, yellow, green); /* Firefox 3.6 to 15*/
    background: radial-gradient(circle, orange, yellow, green); /* Standard syntax */
    text-align: center; 
}

/*Album Cover Image*/
#siteImage table td{
    width: 100%; 
}
#siteImage{
    display: inline-block;
}
#siteImage img{
    width: 300px;  
}

/*Album Title and Webpage Link*/
#albumInfo a{
    text-decoration: none;
}
#albumInfo a:link{
    font-family: cursive;
    color: chocolate;
}
#albumInfo a:visited{
    color: red;
}
#albumInfo a:hover{   
    text-decoration: underline; 
    background-color: yellowgreen;
}
#albumInfo a:active{
}
#albumInfo table{
    width: 100%;
}
#albumInfo table th{
    font-size: 40px;
}
#albumInfo table td{
    font-size: 18px;
}
#albumInfo{
    padding-bottom: 10px;
    border-bottom: 5px orange solid;
}

/*Band Members and Producers*/
#albumPlayers p{
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}
#albumPlayers ul{
    font-family: cursive;
    text-align: left;
}

#albumTracks{
/*    align-content: center;*/
    display: inline-block;
    width: 800px;
    height: 345px;
}
/*Album Tracks*/
#albumTracks p{
    margin: 0px;
    text-align: center;
    font-size: 22px;    
}
#albumTracks table{  
    width: 100%;
    font-style: italic;
    border: 1px solid #000000;
}
#albumTracks table th{
    border: 1px solid #000000;
    background-color: orange;
}
#albumTracks table td{
    border: 1px solid #000000;
    background-color: palegoldenrod;
}