/*
* External Style Sheet. Any HTML file can reference these CSS stylings
* Lab 4: Restaurant Site Version #3
*/

.home{
    text-align: center;
    align-content: center;    
    background-color: beige;
}
.menu{
    text-align: center;    
    background-color: beige;
}
.contactUs{
    text-align: center;
    align-content: center;    
    background-color: beige;
}

.siteTitle{
    width: 100%;
    font-family: monospace;
    font-size: 20px;
}
.siteImage{
     width: 100%;
}
.menuTable{
    width: 100%;
    font-style: italic;
    font-size: 20px;
}

.menuTitle{
    font-style: normal;
    font-size: 25px;
}

.formTable{
    width:100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    display: inline;
}

select{
    margin-right: 72px;
}
textarea{
    margin-right: 10px;
}

.navTable{
    width: 30%;    
}

#siteInfo{
    margin-top: 20px;
    font-size: 20px;
    display: inline-block;
    border: 3px forestgreen solid;
}

#address{
/*    style="position: bottom: 0;  text-align: center"*/
    font-family: cursive;
    text-align: center;
}

.border{
    margin-top: 15px;
    margin-bottom: 30px;
    border-top: 5px solid green;
}

.bottomBorder1{
    margin-top: 70px;
    margin-bottom: 30px;
}
.bottomBorder2{
    margin-top: 310px;
    margin-bottom: 30px;
}

a{
    font-size: 20px;
    font-family: cursive;
    color: orange;
}

a:hover{
    font-family: sans-serif;
    color: blue;
    background-color: paleturquoise;
}






