/*
* External Style Sheet.
* Lab 7: Album Page
*/

/*
@import url("css/bootstrap.css");
@import url("css/bootstrap-theme.css");
*/

/*Page Border Line*/
.pageBorder{
    border-bottom: 5px orange solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/*Band Members and Producers*/
.albumPlayers{
    font-size: 26px;
}

/*Band Members and Producers*/
.albumList{
    font-size: 16px;
	font-family:cursive;
}

/*Album Tracks*/
.albumTracks table th{
    border: 1px solid #000000;
    background-color: orange;
}
.albumTracks table td{
    border: 1px solid #000000;
}
*/