/*
* External Style Sheet.
* Lab 8: Restaurant Site
*/

h1{
    font-family: cursive;
}

.pageBorder{
    border-top: 5px #FF9900 inset;
}
.restaurant-info{
	margin-top: 20px;
    border: 5px #FF9900 inset;
}
.siteInfo{  
    display: inline-block;
    font-size: 20px;
    height: 500px;
    border: 1px solid white;
}
.centerBox{
	margin: auto;	
    border: 4px solid #FF9900;
    padding: 20px;
    display: inline-block;
	position: relative;
}
.footerHome{
	position: relative;
	bottom: 0;
	margin: 0;
	right: 0;
	left: 0;
}
.footerMenu{
	position: relative;
    margin-top: 50px;  
}
.footerContact{
	position: relative;
    margin-top: 50px;  
}

/*Restaurant Contact Us Form Page*/
form{
    font-size: 20px;
}
form input[type=radio] {
    width: 25px;  height: 25px;
    vertical-align: text-bottom;
}
form input[type=checkbox] {
    width: 20px;  height: 20px;
}
#menuTop table{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
}
#menuTop table th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#menuBottom table{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
}
#menuBottom table th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}




