/*
* External Style Sheet. HTML files can reference these CSS 
* styles
* Lab : Restaurant Site Version 
*/

body{
    background-color: orange; 
    font-family:  "Times New Roman", serif;    
    color: #270000;
    width: auto;
    height: auto;
}

#siteContainer{
    background: #CCCC99; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#CCCC99, orange); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CCCC99, orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CCCC99, orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CCCC99, orange); /* Standard syntax */
    
    font-size: 20px;
    text-align: center;
/*    background-color: #CCCC80;*/
    display: inline-grid;
}

#siteName h1{
    color: lightseagreen;
    margin: 0px;
    padding-bottom: 10px;
}

#siteNav{ 
    color: blue;
    padding-bottom: 5px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    text-align: left;
/*    font-family: cursive;  */
    font-size: 21px;
    text-decoration: none; 
}

#siteNav table {
    padding-top: 5px;
    padding-left: 20px;
}
#siteNav td {
    width: 110px;
}


#siteNav a{
    text-decoration: none;
}
#siteNav a:link {
    color: darkcyan;
}
#siteNav a:visited {
/*    color: orange;*/
}
#siteNav a:hover{    
/*    color: rgb(255,255,255);*/
    font-weight: bolder;
}
#siteNav a:active{     
    text-decoration: none;
    color: darkcyan;
}

/* Restaurant Main Site Page */

#siteContent{
    text-align: center;
}

#siteImage{
    margin-top: 20px;
    padding-top: 10px; 
    padding-bottom: 10px;    
}
#siteImage table{
    display: inline-block;
}
#siteImage img{
    width: 400px;
    height: 150px;
}

#siteInfo{  
    display: inline-block;
    font-size: 18px;
    height: 490px;
    border: 1px solid white;
}
#siteInfo table{
    text-align: left;
    width: 43%;
    width: 408px; /*Align info box with image*/
}


/* Restaurant Menu Site Page*/
#siteMenu{
    height: 705px; 
}
#menuTop, #menuBottom{
    width: 100%;
    margin-bottom: 50px;
}
#menuTop th, #menuBottom th, #menuDrinks th{
    color: lightseagreen;
}
/*
#menuDrinks tr:hover, th:hover, td:hover{
    background-color: brown;
}
*/
#menuDrinks{
    width: 100%;
/*    text-align: center;*/
    display: inline;
}
#menuDrinks{
    padding-left: 20px;
/*    display: inline;*/
    text-align: left;
}
#menuDrinks th{
    text-align: center;
    text-decoration: underline;
}
#menuDrinks tr td + td{
    padding-left: 20px;
    display: inline-block;
}


/*Contact Us Site Page*/
#siteForm{
    font-family: "Times New Roman";
    text-align: center;
    display: inline;
}

#siteForm form{
/*    text-align: center;*/
    height: 705px; 
}

#siteForm form table{
    text-align: right;
    display: inline-block;
    width: 50%;
}
#siteForm form table tr{
/*    padding-top: 15px;*/
}
#siteForm form table td{
    text-align: right;
    padding-top: 15px;
}
#siteForm form table td +td{
    text-align: left;
}
#formText1, #formText2, #formText3{
/*    margin-top: 15px;*/
    display: inline-block;
    width: 300px;
    height: 20px;
}
#formOption{
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: 305px;
    height: 30px;
}
#siteForm form textarea{
    width: 300px;
    height: 150px;
}
#siteForm form #addInfo{
    text-align: right;
    vertical-align: top;
}
#siteForm form #checkBox{
/*    display: block;    */
}
#siteForm form #sendBtn{
    display: inline-block;
}
#siteForm form input[type=radio] {
    width: 20px;  height: 20px;
    vertical-align: text-bottom;
}
#siteForm form input[type=submit] {
    width: 100px;  height: 35px;
}
#siteForm form input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-left: 12px;
}



/* Restaurant Address @ Footer */
#siteAddress{ 
    font-family: monospace;
    color: lightseagreen;
/*    width: 100%;*/
/*    clear: both;*/
    margin-top: 10px;
/*    text-align: center;*/
    border-top: 3px solid white;    
/*    padding-bottom: -500px;*/
}

#siteAddress ul{
    list-style-type: none;
}



/* Highlight Hover Colors*/
#siteNav td:hover{
    background-color: #EE9000;
}
#menuTop th:hover{  
    background-color: #EE9000;  
}
#menuTop td:hover{  
    background-color: #EE9000;  
}
#menuBottom th:hover{  
    background-color: #EE9000;  
}
#menuBottom td:hover{  
    background-color: #EE9000;  
}
#menuDrinks th:hover{
    background-color: #EE9000;
}
#menuDrinks tr:hover{
    background-color: #EE9000;
}